@use "./modules/" as m;

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

// navbar
.navbar {
  @include m.navbar;
  background-color: hsla(from m.color(neutral__white) h s l / 0.95);
  backdrop-filter: blur(0.5rem);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
  z-index: 999;

  @media screen and (width < 50rem) {
    flex-direction: column;
    gap: 1rem;
  }

  #{&}__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: fit-content;

    @media screen and (width < 50rem) {
      width: 100%;
    }
  }

  #{&}__toggle-btn {
    display: none;
    cursor: pointer;
    padding: 0.5rem;
    outline: none;
    align-items: center;
    gap: 1rem;
    font-weight: 500;
    border: none;
    background-color: transparent;
    transition: width 200ms ease;

    &:focus,
    &:focus-visible {
      outline: 0.125rem dashed currentColor;
    }

    @media screen and (width < 50rem) {
      display: flex;
    }
  }

  #{&}__links {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 0.5rem;
    padding: 0;
    transition: 0.25s ease;

    overflow: hidden;

    @media screen and (width < 50rem) {
      flex-direction: column;
      gap: 0.5rem;
      height: 0;
    }
  }

  .links-show {
    padding: 1rem;
    height: 15rem;
  }

  #{&}__link {
    @include m.navlink(
      m.color(primary__dark-blue),
      m.weight(regular),
      var(--step--1),
      m.color(neutral__grayish-blue)
    );
    position: relative;

    @media screen and (width < 50rem) {
      padding: 0.5rem;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      scale: 0 1;
      height: 5px;
      transform-origin: left;
      border-radius: 1rem;
      background: linear-gradient(
        45deg,
        m.color(primary__lime-green),
        m.color(primary__bright-cyan)
      );
      transition: 150ms ease;

      // @media screen and (width < 50rem) {
      //   display: none;
      // }
    }

    &:hover {
      opacity: 0.75;

      &::after {
        scale: 1;
      }
    }
  }

  #{&}__btn {
    @media screen and (width < 50rem) {
      display: none;
    }
  }
}

.btn-primary {
  @include m.button(
    m.color(neutral__white),
    linear-gradient(
      45deg,
      m.color(primary__lime-green),
      m.color(primary__bright-cyan)
    ),
    var(--step--1),
    m.weight(bold),
    m.color(primary__lime-green)
  );
}

// Hero
.hero {
  #{&}__text-content {
    padding: 10rem 5rem;

    @media screen and (width < 50rem) {
      padding: 5rem 2.5rem;
      order: 2;
      text-align: center;
    }
  }

  #{&}__heading {
    font-size: var(--step-4);
    color: m.color(primary__dark-blue);
    margin-bottom: 1rem;
  }

  #{&}__text {
    color: m.color(neutral__grayish-blue);
    font-size: var(--step--1);
    margin-bottom: 1.5rem;
  }

  #{&}__btn {
    display: inline-block;
  }

  #{&}__image-wrapper {
    position: relative;

    @media screen and (width < 50rem) {
      order: 1;
    }
  }

  #{&}__pattern {
    position: absolute;
    z-index: -1;
    width: 75rem;
    top: 0;
    right: 0;
  }

  #{&}__image {
    position: absolute;
    z-index: 1;
    width: 40rem;
  }
}

// ABOUT
.about {
  padding: 5rem;
  background-color: #f4f5f7;

  @media screen and (width < 50rem) {
    padding: 2rem;
    text-align: center;
  }

  #{&}__text-content {
    padding-block: 2rem;
    padding-right: 30rem;

    @media screen and (width < 50rem) {
      padding-right: 2rem;
      text-align: center;
    }
  }

  #{&}__heading {
    font-size: var(--step-3);
    margin-bottom: 1rem;
    color: m.color(primary__dark-blue);
  }

  #{&}__text {
    font-size: var(--step--1);
    color: m.color(neutral__grayish-blue);
  }

  #{&}__features__item__icon {
    display: block;
    margin-bottom: 1.5rem;

    @media screen and (width < 50rem) {
      margin: auto;
      margin-block: 1rem;
    }
  }

  #{&}__features__item__heading {
    font-size: var(--step-1);
    font-weight: m.weight(regular);
    margin-bottom: 1rem;
    color: m.color(primary__dark-blue);
  }

  #{&}__features__item__text {
    font-size: var(--step--1);
    color: m.color(neutral__grayish-blue);
  }
}

// ARTICLES
.articles {
  padding: 5rem 3rem;
  background-color: #fafafa;

  @media screen and (width < 50rem) {
    padding: 2.5rem 1.5rem;
  }

  #{&}__article__item {
    border-radius: 0.5rem;
    overflow: hidden;
    background-color: m.color(neutral__white);
    box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.125s ease-in-out;

    &:hover {
      opacity: 0.75;
      box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.2);

      .articles__article__img {
        img {
          scale: 1.05;
        }
      }
    }
  }

  #{&}__article__img {
    height: 15rem;
    overflow: hidden;
    position: relative;

    img {
      position: absolute;
      inset: 0;
      height: 100%;
      width: 100%;
      transition: 0.125s ease;
    }
  }

  #{&}__heading {
    font-size: var(--step-3);
    color: m.color(primary__dark-blue);
    margin-bottom: 3rem;
  }

  #{&}__article__text-content {
    padding: 1rem;
  }

  #{&}__article__author {
    font-size: var(--step--2);
    color: m.color(neutral__grayish-blue);
    margin-block: 0.5rem;
  }

  #{&}__article__heading {
    color: m.color(primary__dark-blue);
    font-size: var(--step-0);
    margin-bottom: 0.5rem;
  }

  #{&}__article__text {
    color: m.color(neutral__grayish-blue);
    font-size: var(--step--1);
  }
}

// FOOTER
.footer {
  background-color: m.color(primary__dark-blue);
  padding: 4rem;

  @media screen and (width < 50rem) {
    padding: 2rem;
  }

  #{&}__cols__item {
    @media screen and (width < 50rem) {
      text-align: center;
    }
  }

  #{&}__logo {
    margin-bottom: 3rem;
    display: inline-block;

    @media screen and (width < 50rem) {
      margin-inline: auto;
      padding: 0.5rem;
    }
  }

  #{&}__social-icons {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 1rem;
    align-items: center;

    @media screen and (width < 50rem) {
      justify-content: center;
    }
  }

  #{&}__social-icon {
    transition: 0.125s ease;

    &:hover {
      opacity: 0.75;
    }
  }

  #{&}__links {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0;
    list-style: none;

    @media screen and (width < 50rem) {
      align-items: center;
      justify-content: center;
    }
  }

  #{&}__link {
    @include m.navlink(
      m.color(neutral__white),
      m.weight(regular),
      var(--step--1),
      m.color(neutral__grayish-blue)
    );
    padding: 0.15rem;
    display: inline-block;

    &:hover {
      color: m.color(neutral__grayish-blue);
    }
  }

  #{&}__btn-wrapper {
    display: flex;
    justify-content: end;
    align-items: center;

    @media screen and (width < 50rem) {
      justify-content: center;
    }
  }

  #{&}__copy {
    margin-top: 3rem;
    color: m.color(neutral__grayish-blue);
    text-align: right;

    @media screen and (width < 50rem) {
      text-align: center;
    }
  }
}
