@use "./modules/" as m;

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

// navbar
.navbar {
  @include m.navbar;
  background-color: m.color(neutral__white);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
  z-index: 999;

  #{&}__links {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 2rem;
  }

  #{&}__link {
    @include m.navlink(
      m.color(primary__dark-blue),
      m.weight(regular),
      var(--step--1),
      m.color(neutral__grayish-blue)
    );
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      scale: 0 1;
      height: 5px;
      transform-origin: left;
      border-radius: 1rem;
      background: linear-gradient(
        45deg,
        m.color(primary__lime-green),
        m.color(primary__bright-cyan)
      );
      transition: 150ms ease;
    }

    &:hover {
      opacity: 0.75;

      &::after {
        scale: 1;
      }
    }
  }
}

.btn-primary {
  @include m.button(
    m.color(neutral__white),
    linear-gradient(
      45deg,
      m.color(primary__lime-green),
      m.color(primary__bright-cyan)
    ),
    var(--step--1),
    m.weight(bold)
  );
}

// Hero
.hero {
  #{&}__text-content {
    padding: 10rem 5rem;
  }

  #{&}__heading {
    font-size: var(--step-4);
    color: m.color(primary__dark-blue);
    margin-bottom: 1rem;
  }

  #{&}__text {
    color: m.color(neutral__grayish-blue);
    font-size: var(--step--1);
    margin-bottom: 1.5rem;
  }

  #{&}__btn {
    display: inline-block;
  }

  #{&}__image-wrapper {
    position: relative;
  }

  #{&}__pattern {
    position: absolute;
    z-index: -1;
    width: 75rem;
    top: 0;
    right: 0;
  }

  #{&}__image {
    position: absolute;
    z-index: 1;
    width: 40rem;
  }
}

// ABOUT
.about {
  padding: 5rem;
  background-color: #f4f5f7;

  #{&}__text-content {
    padding-block: 2rem;
    padding-right: 30rem;
  }

  #{&}__heading {
    font-size: var(--step-3);
    margin-bottom: 1rem;
    color: m.color(primary__dark-blue);
  }

  #{&}__text {
    font-size: var(--step--1);
    color: m.color(neutral__grayish-blue);
  }

  #{&}__features__item__icon {
    display: block;
    margin-bottom: 1.5rem;
  }

  #{&}__features__item__heading {
    font-size: var(--step-1);
    font-weight: m.weight(regular);
    margin-bottom: 1rem;
    color: m.color(primary__dark-blue);
  }

  #{&}__features__item__text {
    font-size: var(--step--1);
    color: m.color(neutral__grayish-blue);
  }
}

// ARTICLES
.articles {
  padding: 5rem 3rem;
  background-color: #fafafa;

  #{&}__article__item {
    border-radius: 0.5rem;
    overflow: hidden;
    background-color: m.color(neutral__white);
    box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    cursor: pointer;
    display: grid;
    grid-template-rows: subgrid;
    grid-row: 1 / 3;
    transition: 0.125s ease-in-out;

    &:hover {
      opacity: 0.75;
      box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.2);

      .articles__article__img {
        img {
          scale: 1.05;
        }
      }
    }
  }

  #{&}__article__img {
    height: 15rem;
    overflow: hidden;
    position: relative;

    img {
      position: absolute;
      inset: 0;
      height: 100%;
      width: 100%;
      transition: 0.125s ease;
    }
  }

  #{&}__heading {
    font-size: var(--step-3);
    color: m.color(primary__dark-blue);
    margin-bottom: 3rem;
  }

  #{&}__article__text-content {
    padding: 1rem;
  }

  #{&}__article__author {
    font-size: var(--step--2);
    color: m.color(neutral__grayish-blue);
    margin-block: 0.5rem;
  }

  #{&}__article__heading {
    color: m.color(primary__dark-blue);
    font-size: var(--step-0);
    margin-bottom: 0.5rem;
  }

  #{&}__article__text {
    color: m.color(neutral__grayish-blue);
    font-size: var(--step--1);
  }
}

// FOOTER
.footer {
  background-color: m.color(primary__dark-blue);
  padding: 4rem;

  #{&}__logo {
    margin-bottom: 3rem;
    display: inline-block;
  }

  #{&}__social-icons {
    display: flex;
    list-style: none;
    gap: 1rem;
    padding: 0;
    align-items: center;
  }

  #{&}__social-icon {
    transition: 0.125s ease;

    &:hover {
      opacity: 0.75;
    }
  }

  #{&}__links {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    list-style: none;
  }

  #{&}__link {
    @include m.navlink(
      m.color(neutral__white),
      m.weight(regular),
      var(--step--1),
      m.color(neutral__grayish-blue)
    );
    padding: 0.15rem;

    &:hover {
      color: m.color(neutral__grayish-blue);
    }
  }

  #{&}__btn-wrapper {
    display: flex;
    justify-content: end;
    align-items: center;
  }

  #{&}__copy {
    margin-top: 3rem;
    color: m.color(neutral__grayish-blue);
    text-align: right;
  }
}
